label {
  padding-right: 10px;

  &.heading {
    margin-bottom: 10px;
  }
}

.inline {
    display: inline;
}

#condition > form {
    width: 100%;
}

#conditions {
  width: 55%;
}

.horizontal {
  display: table;
}

.horizontal > * {
  display: table-cell;
}

form > div {
  margin-bottom: 15px;
}

// required since we don't include bootstrap css, which angular-ui relies on
// TODO: clean this up and move it to the style guide
#types.button-group {
  > .button {
    margin-left: -1px;
    margin-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;

    &:first-child {
      margin-left: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:not(:first-child) {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &:not(:last-child) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}